{{ define "main" }}

    {{ with .Params.title }}<h1>{{ . }}</h1>{{ end }}
    <br>
    {{ if (resources.GetMatch .Params.featured_image) }}
        <img src="{{ (resources.GetMatch .Params.featured_image).RelPermalink }}" />
    {{ end }}

    {{ .Content }}

    {{ $date := now }}
    {{ $author := "Horst Kippowski"}}
    {{ if .GitInfo }}
        {{ $date = .GitInfo.AuthorDate }}
        {{ $author = .GitInfo.AuthorName }}
    {{ end }}
    <div>
     zuletzt geändert am {{- $date.Format "January 02, 2006" -}} von {{ $author }}
    </div>
   
    <p>layout/default/single.html</p>

    <br>

    {{ $update := .Page.Date }}
    <small class="text-muted">Letzte Aktualisierung {{ $update.Format "02.01.2006" }}</small>

    {{ end }}