<nav>
  <div class="container">
    <a class="navbar-brand" href="/"> <img src="/Wappen_Oderberg_100.png" alt="Wappen" id="wappen"> <span id="wappentext">Oderberg/Mark</span> </a>
    <input type="checkbox" id="active">
      <label for="active" class="menu-btn"><i class="fas fa-bars"></i></label>
      <div class="wrapper">
        <ul>
            {{ range .Site.Menus.main }}
            <li>
                <a href="{{ .URL }}">
                <span>{{ .Name }}</span></a>
            </li>
            {{ end }}
        </ul>
      </div>
  </div>
</nav>
